@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

.mapDiv{
  width: 1000px;
  height: 650px;
}

.contentDiv{
  width: 1000px;
}


.grid-container {
  display: grid;
  grid-template-columns: 1000px 500px;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  text-align: center;
}

aside {
  float: right;
}

div.scroll {
  margin: 4px, 4px;
  padding: 10px;
  width: 500px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

div.scroll::-webkit-scrollbar {
  display: none;
}