@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

.navBar{
  text-align: center;
  size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1000px 500px;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  text-align: center;
}

.map-container{
  width: 900px;
  height: 650px;
}

.stop_scroll {
  margin: 4px, 4px;
  padding: 10px;
  width: 500px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.stop_scroll::-webkit-scrollbar {
  display: none;
}

.stop_element {
  display: grid;
  grid-template-columns: 30px 70px 450px;
  width: 600px;
  height: 80px;

  border-bottom: solid;
}

.stop_element_order {
  border-right: solid;
}

.stop_element_addr {
  width: 300px;
  word-wrap: break-word;
}